<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>

<form th:action="@{/account/register}" method="post">
    <label>아이디: <input type="text" name="username" required></label><br>
    <label>비밀번호: <input type="password" name="password" required></label><br>
    <label>이름: <input type="text" name="name" required></label><br>
    <label>이메일: <input type="email" name="email" required></label><br>
    <label>닉네임: <input type="text" name="nickname" required></label><br>
    <button type="submit">가입</button>
</form>

<a th:href="@{/auth/login}">로그인 페이지로</a>
</body>
</html>
